div.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3.name {
 font-family: 'OpenSans', serif; 
 font-size: 30
}

.regular-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 18;
}

a:link {
    color: black;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: underline;
}

.table {
  font-size: 15px;
  line-height: 25px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 5px 10px;
}

.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 0 2px;
}

.table > div:nth-child(2n+1) {
  font-weight: 300;
}
